<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6532194735-l3aqmeknitebgo6h5i8n9nviruuvekh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6532194735-l3aqmeknitebgo6h5i8n9nviruuvekh6</string>
	<key>API_KEY</key>
	<string>AIzaSyC-i5tQ44DQkmGnRyimgbamNeAKExXxxdo</string>
	<key>GCM_SENDER_ID</key>
	<string>6532194735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelsongonzalez.FoodOrderingAppSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>food-ordering-app-d3ff6</string>
	<key>STORAGE_BUCKET</key>
	<string>food-ordering-app-d3ff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6532194735:ios:d264280d0b8d7a82adcf5a</string>
	<key>DATABASE_URL</key>
	<string>https://food-ordering-app-d3ff6.firebaseio.com</string>
</dict>
</plist>